
*{

margin: 0;
padding: 0;
font-family: 'Kumbh Sans', sans-serif;
}
.navbar {
    background-image:linear-gradient(to bottom,#006400,#87CEFA, #edf4f8c6);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.title {
    background-color: #006400;
    color:#fff;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.beginning {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px;
    text-align: center;
}
.mission_statement {
    background-color: #87CEFA;
    color:#fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.Services_statement {
    background-color: #2E8B57;
    color:#ffffff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
p {
    margin: 20px;
    font-size: 1.5rem;
    justify-content:center;
    text-align:center;
}
h3 {
    justify-content:center;
    text-align:center;
    font-size: 2rem;
}
.copyright {
    font-size: 1rem;
    text-align: left;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar__links {
    color:#244288;
    align-items: center;
    text-decoration: none;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.1;
    display: block;

}

.navbar__btn {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    justify-content: center;
    width: 100%;
}
.logo-text {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border: none;
    border-radius: 4px;
    background:linear-gradient(to right,#26701f,#87CEFA);
    color: #fff;
}
.button:hover {
    background-color: #231a5f;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #eae4e3;
    transition: all 0.3s ease;
}
#navbar__logo {
    color: #fff;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    margin-top: -41px;
    font-weight: bold;
}
h2 {
    justify-content:center;
    text-align:center;
    font-size: 2rem;
}
.services {
    list-style-type: none;
    font-size: 1.5rem;
    margin: 20px;
    padding: 0;
    text-align: center;
}
.office__painting {
   list-style-type: none;
    font-size: 1.5rem;
    margin: 20px;
    padding: 0;
    text-align: center;
}
.office__cleaning {
   list-style-type: none;
    font-size: 1.5rem;
    margin: 20px;
    padding: 0;
    text-align: center;
}
.Pricing {
   background-color: #87CEFA;
    color:#ffffff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.bucket-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    float: left;
    margin-right: 12px;
    width: 50px;
}
.bucket__image {
  float: left;
  position:relative;
  margin-right: 50px;
  margin-left:150px;
  width: 325px;
    height: auto;
   top: 30px;
}
.bucket__image img {
  width: 100%;
  padding-top: 50px;
  position: absolute;
  height: auto;
  pointer-events: none ;

  
}

.contact_info {
    font-size: 2rem;
    font-weight: 700;
    margin: 20px;
    text-align: center;

}
.contact__beginning {
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
}
.beginning_industries {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px;
    text-align: center;
}
.industries_list {
    list-style-type: none;
    font-size: 2.5rem;
    margin: 20px;
    padding: 0;
    text-align: center;
    background-color:#87CEFA;
    color:#ffffff;
}
.industries__item {
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
    border: 4px solid #26701f;
    padding: -10px;
    list-style-type: none;
}
.beginning_Products {
    background-color: #87CEFA;
    color:#ffffff;
    font-size: 2rem;
    padding: 10px;
    padding-top: -10px;
}

.Why_Choose_Our_Products {
    background-color: #87CEFA;
    color:#ffffff;
    font-size: 4rem;
    padding: 10px;
    padding-top: -10px;
}
.Sani {
    font-size: 3rem;
    margin: 20px;
    text-align: center;
    background-color:#87CEFA;
    padding:15px;
    color: white;
}
    .img {
        max-width: 100%;
        height: auto;
    }
    .navbar__toggle {
        display: none;
        cursor: pointer;
    }

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        max-width: 1300px;
        width: 100%;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        background: #26701f;
        opacity: 1;
        transition: all 0.5s ease;
        height: 80vh;
        z-index: -1;
    }
}

.bucket__image img {
  width: 100%;

  padding-top: 20px;
  position: relative;
  height: auto;
  pointer-events: none ;
  left:-25%;
  margin: 0 auto;
}
.navbar__menu.active {
    background: #76d47b;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 80vh;
    font-size: 1.6rem;
}
.navbar__btn {
    padding-bottom: 2rem;
}
#navbar__logo {
    padding-left: 25px;
}
.navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
}
.navbar__item {
    width: 100%;
}
.navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}
.navbar__toggle {
    display: block;
    margin-right: 1.5rem;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80%;
    margin: 0;
    font-size: 1.5rem;
}
#mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
}
.navbar__toggle .bar {
    display: block;
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;

}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    
}